@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background();
  margin: 0;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.5rem;
    background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // To ensure the footer is always at the bottom the page
  // the 60px is the height of the footer.
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bio_image bio bio'
    'job_1 job_2 job_3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bio_image;
    margin: auto;
    border-radius: 50%;
    border: 3px solid $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job_1;
  }

  .job-2 {
    grid-area: job_2;
  }

  .job-3 {
    grid-area: job_3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: 3px solid $secondary-color;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 3px solid #fff;

    &:hover {
      border: 3px solid $secondary-color;
      opacity: 0.5;
      @include easeOut;
    }
  }
}

// Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'mobile';
